[Unit]
Description=oebb-ticket-price.service - A Flask application run with Gunicorn.
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/oebb-ticket-price/
ExecStart=/var/www/oebb-ticket-price/venv/bin/gunicorn --workers 5 --bind unix:/var/www/oebb-ticket-price/oebb-ticket-price.sock wsgi:app

[Install]
WantedBy=multi-user.target
