[Unit]
Description=Cron tasks for zug.lol
After=network.target

[Service]
Type=oneshot
User=m
Group=m
WorkingDirectory=/var/www/zug-lol/
EnvironmentFile=/var/www/zug-lol/.env
ExecStart=/var/www/zug-lol/venv/bin/flask update-oldest-price 10 30

[Install]
WantedBy=multi-user.target
