{% extends 'base.html' %}
{% from 'bootstrap4/form.html' import render_form %}

{% block content %}
    <div class="card bg-light mb-3" id="welcome">
        <div class="card-body">
            <h5 class="card-title">Welcome</h5>
            <p class="card-text">This site offers 2 services</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Search for <a href="{{ url_for('ticket_price.price_form') }}">train ticket prices</a> in Austria.</li>
            <li class="list-group-item">Create a <a href="{{ url_for('ticket_price.journeys') }}">travel journal</a>, to find out if your Klimaticket pays off.</li>
        </ul>
    </div>

    <div class="card bg-light mb-3" id="contact">
        <div class="card-body">
            <h5 class="card-title">Contact</h5>
            <p class="card-text">For complaints, bug reports or any other feedback you can open an <a href="https://github.com/Dosenpfand/oebb-ticket-price/issues">issue</a>.</p>
        </div>
    </div>
{% endblock %}
