{% extends 'base.html' %}
{% from 'bootstrap4/form.html' import render_field %}
{% from 'bootstrap4/table.html' import render_table %}

{% block content %}
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">Add Journey</h5>
        <p class="card-text">
            <form action="" method="post" class="form" role="form">
                {{ form.hidden_tag() }}
                {{ render_field(form.origin) }}
                {{ render_field(form.destination) }}
                {{ render_field(form.price) }}
                {{ render_field(form.date) }}
                {{ render_field(form.submit) }}
                <a class="btn btn-primary btn-md" id="determine-price" hx-post="/sse_container" hx-target="#output">Determine Price</a>
            </form>
        </p>
      </div>
    </div>

    <div id="output"></div>

    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">Journey Statistics</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Journeys made: <mark class="font-weight-bold">{{ journey_count }}</mark></li>
        <li class="list-group-item">Price sum: <mark class="font-weight-bold">{{ price_sum }}</mark> €</li>
        <li class="list-group-item">
            Klimaticket ROI:
            <mark class="font-weight-bold">{{klimaticket_gains}}</mark> €
            {% if klimaticket_gains > 0 %}
                <span class="badge rounded-pill bg-success">POSITIVE</span>
            {% else %}
                <span class="badge rounded-pill bg-warning text-dark">NEGATIVE</span>
            {% endif %}
        </li>
      </ul>
    </div>

    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">Past Journeys</h5>
        <p class="card-text">
            {{ render_table(table, titles=titles) }}
        </p>
      </div>
    </div>
{% endblock %}
