{% from 'bootstrap5/nav.html' import render_nav_item %}
{% from 'bootstrap5/utils.html' import render_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }} - {{ config['SITE_TITLE'] }}</title>

    {{ bootstrap.load_css() }}
    <style>
        pre {
            background: #ddd;
            padding: 10px;
        }
        h2 {
            margin-top: 20px;
        }
        footer {
            margin: 20px;
        }
    </style>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="bg-light mb-4">
        <div class="container">
              <div class="row">
                  <div class="col-md-auto my-auto">
                      <img src="{{ url_for('static', filename='favicon.ico') }}" alt="{{ _('Logo: A Train') }}">
                  </div>
                  <div class="col my-auto display-4">
                    zug.lol
                  </div>
              </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="navbar-nav mr-auto">
                {{ render_nav_item('main.home', _('Home')) }}
                {{ render_nav_item('ticket_price.price_form', _('Ticket Price')) }}
                {{ render_nav_item('journal.journeys', _('Travel Journal')) }}
                {% if current_user and current_user.is_authenticated %}
                {{ render_nav_item('main.profile', _('Profile')) }}
                {{ render_nav_item('security.logout', _('Logout')) }}
                {% else %}
                {{ render_nav_item('security.login', _('Login')) }}
                {{ render_nav_item('security.register', _('Register')) }}
                {% endif %}
                {% for code, lang in config['LANGUAGES'].items() %}
                {% if not code == session['lang'] %}
                {{ render_nav_item(request.url_rule.endpoint, lang, lang=code) }}
                {% endif %}
                {% endfor %}
            </div>
        </nav>
    </div>

    <main class="container">
        {{ render_messages(container=False, dismissible=False) }}
        {% block content %}
        {% endblock %}
    </main>

    {{ bootstrap.load_js() }}
    <script id="htmx-script" src="{{ url_for('static', filename='htmx.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='sse.js') }}" defer></script>
    <script src="{{ url_for('static', filename='bootstrap-autocomplete.min.js') }}"></script>

    <script>
        // HTMX and SSE
        function onHtmxLoaded() {
            htmx.on('htmx:sseError', function(evt) {
                if(htmx.find("#price")) {
                    htmx.find("#price").value = htmx.find("#price-log").innerHTML
                    htmx.remove(htmx.find("#sse-container-outer"));
                } else {
                    htmx.find("#price-output").innerHTML = htmx.find("#price-log").innerHTML
                    htmx.remove(htmx.find("#sse-container"));
                }
            });
        }
        if ('htmx' in window) {
            onHtmxLoaded();
        } else {
            var script = document.getElementById('htmx-script');
            script.addEventListener('load', onHtmxLoaded);
        }

        // Auto-Complete
        $('.basicAutoComplete').autoComplete({
            resolverSettings: {
                url: '/station_autocomplete'
            }
        })
    </script>
</body>
</html>
