{% extends 'base.html' %}

{% block content %}
<div class="card bg-light mb-3" id="contact">
    <div class="card-body">
        <h1 class="card-title">Datenschutz</h1>

        Der Verarbeitung personenbezogener Daten und der damit verbundene Datenschutz dieser Website erfolgt
        entsprechend den Grundsätzen der <abbr title="Datenschutzgrundverordnung">DSGVO</abbr>:
        <ul>
            <li>Rechtmäßigkeit, Verarbeitung nach Treu und Glauben, Transparenz</li>
            <li>Zweckbindung</li>
            <li>Richtigkeit</li>
            <li>Speicherbegrenzung</li>
            <li>Integrität und Vertraulichkeit</li>
            <li>Rechenschaftspflicht</li>
        </ul>

        <h2>Verantwortlicher</h2>
        <p>
            Für den Datenschutz dieser Webseite verantwortlich ist:<br>
            Markus Gasser<br>
            Landsteinergasse 2/8<br>
            1160 Wien<br>
            Österreich<br>
            E-Mail: <a href="mailto:{{ config['SITE_EMAIL'] }}">{{ config['SITE_EMAIL'] }}</a>
        </p>

        <h2>Personenbezogenen Daten</h2>

        <h3>Server-Logs</h3>
        <p>
            Die von der Webseite verwendete Webserver-Software speichert bei Seitenaufrufen folgende Daten:
        <ul>
            <li>IP-Adresse</li>
            <li>Datum und Uhrzeit</li>
            <li><abbr title="Hypertext Transfer Protocol">HTTP</abbr>-Request-Methode</li>
            <li>Ressource/URL</li>
            <li>HTTP-Protokoll-Version</li>
            <li>HTTP-Status-Code</li>
            <li>Dateigröße der Antwort</li>
            <li>Referrer</li>
            <li>User Agent (Browser, inklusive Version und Betriebssystem)</li>
        </ul>
        </p>
        <p>
            Diese Daten werden gespeichert um die Sicherheit (Abwehr gegen und Analyse von Hacker-Angriffen) und die
            Verfügbarkeit (Analyse von Fehlverhalten) des Dienstes sicherzustellen.
        </p>
        <p>
            Die Speicherdauer dieser Daten beträgt 14 Tage. Sie werden nach Ablauf dieser Frist automatisiert gelöscht.
        </p>

        <h3>Cookies</h3>
        <p>
            Diese Seite verwendet 1st Party Session Cookies. Das sind Textdateien, die der Dienst an den Browser der
            betroffenen Person sendet und in nachfolgenden Anfragen dieser zurückgesendet werden. Diese sind temporär
            und können nicht dienstübergeifend ausgelesen werden.
            In diesen Cookies sind folgende Daten gespeichert:
        <ul>
            <li>Anmelde-Status</li>
            <li>Sprache</li>
            <li>Aufgerufene Ressourcen</li>
            <li>weitere technische und sicherheitsrelevante Informationen (z.B. <abbr
                    title="Cross Site Request Forgery">CSRF</abbr>-Token und Signatur)
            </li>
        </ul>
        </p>
        <p>
            Diese Daten werden gespeichert, um die grundlegende Funktionalität des Dienstes sicherzustellen.
        </p>
        <p>
            Da es sich bei den verwendeten Cookies um sogenannte Session Cookies handelt, werden die darin enthaltenen
            Daten am Ende der Sitzung gelöscht. Dies kann, je nach Browser und Benutzereinstellungen, nach Verlassen der
            Seite oder nach Schließen des Browser-Fensters passieren.
        </p>

        <h3>Profil</h3>
        <p>
            In der vom Dienst der betroffenen Person zur Verfügung gestellten
            <a href="{{ url_for('main.profile') }}">Profil-Funktionalität</a>
            kann sie folgende Daten eingeben, die gespeichert werden:
        <ul>
            <li>E-Mail-Adresse</li>
            <li>Passwort (gehashed)</li>
            <li>Besitz einer Vorteilscard</li>
            <li>Preis des Klimatickets</li>
        </ul>
        </p>
        <p>
            Die Speicherung dieser Daten erfolgt auf Grundlage der Einwilligung der betroffenen Person.
            Sie dient dazu, ihr die grundlegende Funktionalität dieses Dienstes zur Verfügung zu stellen.
            Dazu gehört die statistische Auswertung, ob sich das Klimaticket bei den vorgenommenen Reisen rentiert hat.
        </p>
        <p>
            Diese Daten werden so lange gespeichert bis ein Konto beim zugrundeliegenden Dienst besteht. Dieses Konto
            kann jederzeit gelöscht werden, siehe <a href="#right_to_delete">Recht auf Löschung</a>. Damit einhergehend
            erfolgt die Löschung der Profildaten.
        </p>

        <h3>Reisetagebuch</h3>
        <p>
            In der vom Dienst der betroffenen Person zur Verfügung gestellten <a
                href="{{ url_for('journal.journeys') }}">Reisetagebuch</a>-Funktionalität kann sie folgende Daten
            einzelner Datensätze eingeben, die gespeichert werden:
        <ul>
            <li>Start</li>
            <li>Ziel</li>
            <li>Datum</li>
            <li>Ticket-Preis</li>
        </ul>
        </p>
        <p>
            Die Speicherung dieser Daten erfolgt auf Grundlage der Einwilligung der betroffenen Person.
            Sie dient dazu, ihr die grundlegende Funktionalität dieses Dienstes zur Verfügung zu stellen.
            Dazu gehört die statistische Auswertung, ob sich das Klimaticket bei den vorgenommenen Reisen rentiert hat.
        </p>
        <p>
            Diese Daten werden so lange gespeichert bis sie von der betroffenen Person gelöscht werden. Dies kann durch
            Löschen einzelner oder aller Datensätze auf der <a
                href="{{ url_for('journal.journeys') }}">Reisetagebuch</a>-Seite erfolgen. Alternativ besteht die
            Möglichkeit der Löschung des gesamten Benutzerkontos, siehe <a href="#right_to_delete">Recht auf
            Löschung</a>. Damit einhergehend erfolgt die Löschung aller Datensätze des Reisetagebuchs der betroffenen
            Person.
        </p>

        <h2>Inhalte von Drittanbietern</h2>
        <h3>hCaptcha</h3>
        <p>
            Der Registrierungsprozess des Dienstes ist durch ein <abbr
                title="completely automated public Turing test to tell computers and humans apart">CAPTCHA</abbr>
            gesichert. Dieses Verfahren wird vom externen
            Dienstleister hCaptcha bereitgestellt. Dazu werden Inhalte von <a href="https://www.hcaptcha.com/">hcaptcha.com</a>
            eingebunden.
            Diese Inhalte werden lediglich auf der <a href="{{ url_for('security.register') }}">Registrierungs-Seite</a>
            eingebunden.
            Die Einbindung dieses Inhalts dient zur Absicherung des Dienstes gegen automatisierte Benutzerregistrierung,
            und dient somit zur Sicherstellung des Betriebs.
        </p>
        <p>
            Welche Daten und auf welcher Grundlage diese von hCaptcha erhoben werden, sowie wie lange diese gespeichert
            werden kann vom Betroffenen in den <a href="https://www.hcaptcha.com/privacy">Datenschutzbestimmungen von
            hCaptcha</a> eingesehen werden.
        </p>

        <h2>Auskunftsrecht</h2>
        Die betroffenen Person hat die Möglichkeit, alle sie betreffenden personenbezogenen Daten einzusehen. Diese sind
        über die
        <a href="{{ url_for('journal.journeys') }}">Reisetagebuch</a>-, sowie die <a
            href="{{ url_for('main.profile') }}">Profil-Funktionalität</a> der Webseite abrufbar.
        Des Weiteren, hat die betroffene Person das Recht, eine Bestätigung zu verlangen, ob und inwiefern sie
        betreffende personenbezogende Daten verarbeitet werden. Kontaktieren Sie dazu bitte formlos <a
            href="mailto:{{ config['SITE_EMAIL'] }}">{{ config['SITE_EMAIL'] }}</a>.

        <h2>Beschwerderecht</h2>
        <p>
            Die betroffene Person hat das Recht, Beschwerde über die Verarbeitung ihrer personenbezogenen Daten
            einzureichen.
            Die dafür zuständige Aufsichtsbehörde ist die Datenschutzbehörde der Republik Österreich:<br>
            Österreichische Datenschutzbehörde<br>
            Barichgasse 40-42<br>
            1030 Wien<br>
            Webseite: <a href="https://www.dsb.gv.at">www.dsb.gv.at</a>
        </p>

        <h2>Automatisierten Entscheidungsfindung</h2>
        <p>
            Der Verantwortliche, bzw. diese Webseite setzt keine automatisierte Entscheidungsfindung einschließlich
            Profiling ein.
        </p>

        <h2>Recht auf Berichtigung</h2>
        <p>
            Die betroffenen Person hat die Möglichkeit, alle sie betreffenden personenbezogenen Daten zu berichtigen.
            Dazu können mittels der <a href="{{ url_for('journal.journeys') }}">Reisetagebuch</a>-Funktionalität
            einzelne Einträge gelöscht und berichtigt erneut eingetragen werden, sowie alle Einträge gelöscht werden.
            Alle weiteren personenbezogenen Daten können über die <a href="{{ url_for('main.profile') }}">Profil-Funktionalität</a>
            berichtigt werden.
        </p>

        <h2 id="right_to_delete">Recht auf Löschung</h2>
        <p>
            Die betroffene Person hat die Möglichkeit, alle sie betreffenden personenbezogenen Datan löschen zu lassen.
            Dazu kann die <a href="{{ url_for('main.delete_account') }}">Konto-Lösch-Funktionalität</a> der Webseite
            genutzt werden. Eine Wiederherstellung jeglicher Daten ist nach erfolgter Löschung nicht mehr möglich.
        </p>
        <h2>Recht auf Datenübertragbarkeit</h2>
        <p>
            Die betroffene Person hat die Möglichkeit, alle sie betreffenden personenbezogenen Daten bereitgestellt zu
            bekommen. Dazu kann die <a href="{{ url_for('journal.export_journeys') }}">Export-Funktionalität</a> der
            Website genutzt werden. Diese Daten werden im maschinen- und menschen-lesbaren <abbr
                title="Comma-separated values">CSV</abbr>-Format bereitgestellt und können sowohl lokal verarbeitet
            (z.B. mit einem Tabellenkalkulationsprogramm wie <a href="https://de.libreoffice.org/discover/calc/">LibreOffice
            Calc</a>), als auch einem anderen Verantwortlichen zur Verfügung gestellt werden.
        </p>

    </div>
</div>
{% endblock %}
