{% extends 'base.html' %}
{% from 'bootstrap4/form.html' import render_form %}

{% block content %}
    <div class="card bg-light mb-3" id="welcome">
        <div class="card-body">
            <h5 class="card-title">{{ _('Welcome') }}</h5>
            <p class="card-text">{{ _('This site offers 2 services') }}:</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ _('Search for') }} <a href="{{ url_for('ticket_price.price_form') }}">{{ _('train ticket prices') }}</a> {{ _('in Austria') }}.</li>
            <li class="list-group-item">{{ _('Create a') }} <a href="{{ url_for('journal.journeys') }}">{{ _('travel journal') }}</a>, {{ _('to find out if your Klimaticket pays off') }}.</li>
        </ul>
    </div>

    <div class="card bg-light mb-3" id="contact">
        <div class="card-body">
            <h5 class="card-title">{{ _('Contact') }}</h5>
            <p class="card-text">{{ _('For complaints, bug reports or any other feedback you can open an') }} <a href="https://github.com/Dosenpfand/oebb-ticket-price/issues">{{ _('issue') }}</a>.</p>
        </div>
    </div>
{% endblock %}
