{% set title = _('Login') %}
{% extends 'base.html' %}
{% from 'bootstrap4/form.html' import render_field %}

{% macro render_form_errors(form) %}
  {% if form.form_errors %}
    <div class="fs-div" id="fs-form-errors">
    <ul>
    {% for error in form.form_errors %}
      <li class="fs-error-msg">{{ error }}</li>
    {% endfor %}
    </ul>
    </div>
  {% endif %}
{% endmacro %}

{% block content %}
    <div class="card bg-light mb-3" id="sse-container-outer">
      <div class="card-body">
        <h5 class="card-title">{{ _('Login') }}</h5>
        <p class="card-text">
            <form action="{{ url_for_security('login') }}" method="post" class="form" role="form" name="login_user_form">
            {{ login_user_form.hidden_tag() }}
            {{ render_form_errors(login_user_form) }}
            {{ render_field(login_user_form.email) }}
            <div class="fs-gap">{{ render_field(login_user_form.password) }}</div>
            {{ render_field(login_user_form.remember) }}
            {% if config['WTF_CSRF_ENABLED'] %}
              {{ render_field(login_user_form.csrf_token) }}
            {% endif %}
            {{ render_field(login_user_form.submit) }}
            </form>
        </p>
      </div>
    </div>
{% endblock %}
