{% extends 'base.html' %}
{% from 'bootstrap4/form.html' import render_form %}

{% block content %}
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ _('Welcome') }}</h5>
        <p class="card-text">
            {{ _('Hi') }} {{ name }}!
        </p>
      </div>
    </div>

    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ _('Settings') }}</h5>
        <p class="card-text">
            {{ render_form(form) }}
        </p>
      </div>
    </div>

    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ _('Danger Zone') }}</h5>
        <p class="card-text">
            {{ _("If you don't want to use this site anymore you can") }} <a href="{{ url_for('main.delete_account') }}">{{ _('delete your account') }}</a>.
        </p>
      </div>
    </div>
{% endblock %}
